* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(Assets/Background.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 90%;
    max-width: 900px;
}

.wraper {
    width: 50%;
    color: aliceblue;
    min-height: 400px;
}

.right__section {
    color: #000;
    background-color: #fff;
}

h1 {
    font-size: 2.5rem;
}
/* First Section */

form {
    width: 70%;
    margin: auto auto;
    padding: 4rem 0;
    height: 100%;
}

.textin {
    display: block;
    margin-top: 2rem;
}

.textin input {
    width: 100%;
    display: block;
}



.textin input:hover,
.checkbox input:hover {
    background-color: #e6e8e9;
}



input {
    padding: 0.9rem;
    font-family: poppins, sans-serif !important;
    font-size: 0.9em;
    border-radius: 3px;
    border: #c2c2c2 1px solid;
    margin-top: 0.2rem;
}

.checkbox {
    margin: 2rem 0;
    display: flex;
}
.terms {
    padding: 0 0.5rem;
    margin-top: 1rem 0;
}

.terms label {
    margin: 0;
}

a {
    color: #033043;
    font-weight: 600;
    border-bottom: #033043 2px solid;
    text-decoration: none;
}

input[type="checkbox"] {
    margin: 0.2rem 0;
    cursor: pointer;
}

input::placeholder {
    font-family: poppins;
}

input[type="button"] {
    background-color: #033043;
    color: #fff;
    border: none;
    width: 100%;
    margin-top: 2rem 0;
    cursor: pointer;
    border: #033043 1.5px solid;
    font-weight: 600;
    font-family: poppins;
}

input[type="button"]:hover {
    background-color: #095779;
    color: #fff
}

/* Second Section */
.left__section {
    color: #fff;
    background-color: #033043;
    background: #033043 url("Assets/iPhone Mockup.png") no-repeat bottom;
    background-size: contain;
    background-position: bottom;
}

.hero {
    justify-content: center;
    text-align: center;
    padding: 4rem;
}

.hero p {
    color: #5c696f;
    font-weight: 500;
}

img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.hero__image {
    margin: 0;
    padding: 0;
}

/* Media Queries */

@media (max-width: 768px){
    .container{
        display: block;
    }
    .wraper{
        width: 100%;
    }
    .hero {
        padding:1em;
    }
}

@media (max-width:500px) {
    body {
        background-image: none;
        display: block;
    }
    .container{
        width: 100vw;
        height: 100vh;
        border: none;
        border-radius: 0;
        overflow-y: visible;
    }
    
}




